/ZNet/ZNet/bin/Debug/ZNet.dll.config
/ZNet/ZNet/bin/Debug/ZNet.pdb
/ZNet/ZNet/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/ZNet/ZNet/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/ZNet/ZNet/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/ZNet/ZNet/obj/Debug/ZNet.csproj.FileListAbsolute.txt
/ZNet/ZNet/obj/Debug/ZNet.csprojResolveAssemblyReference.cache
/ZNet/ZNet/obj/Debug/ZNet.dll
/ZNet/ZNet/obj/Debug/ZNet.pdb
/ZNet/ZNetClient/bin/Debug/ZNet.dll
/ZNet/ZNetClient/bin/Debug/ZNet.pdb
/ZNet/ZNetClient/bin/Debug/ZNetClient.exe
/ZNet/ZNetClient/bin/Debug/ZNetClient.exe.config
/ZNet/ZNetClient/bin/Debug/ZNetClient.pdb
/ZNet/ZNetClient/bin/Debug/ZNetClient.vshost.exe
/ZNet/ZNetClient/bin/Debug/ZNetClient.vshost.exe.config
/ZNet/ZNetClient/bin/Debug/ZNetClient.vshost.exe.manifest
/ZNet/ZNetClient/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/ZNet/ZNetClient/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/ZNet/ZNetClient/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/ZNet/ZNetClient/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/ZNet/ZNetClient/obj/Debug/ZNetClient.csproj.FileListAbsolute.txt
/ZNet/ZNetClient/obj/Debug/ZNetClient.csprojResolveAssemblyReference.cache
/ZNet/ZNetClient/obj/Debug/ZNetClient.exe
/ZNet/ZNetClient/obj/Debug/ZNetClient.pdb
/ZNet/ZNetServer/bin/Debug/ZNet.dll
/ZNet/ZNetServer/bin/Debug/ZNet.pdb
/ZNet/ZNetServer/bin/Debug/ZNetServer.exe
/ZNet/ZNetServer/bin/Debug/ZNetServer.exe.config
/ZNet/ZNetServer/bin/Debug/ZNetServer.pdb
/ZNet/ZNetServer/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/ZNet/ZNetServer/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/ZNet/ZNetServer/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/ZNet/ZNetServer/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/ZNet/ZNetServer/obj/Debug/ZNetServer.csproj.FileListAbsolute.txt
/ZNet/ZNetServer/obj/Debug/ZNetServer.csprojResolveAssemblyReference.cache
/ZNet/ZNetServer/obj/Debug/ZNetServer.exe
/ZNet/ZNetServer/obj/Debug/ZNetServer.pdb
